<a href="https://colab.research.google.com/github/Sourav-Manik/AI-Assignments/blob/main/Assignment_3_Data_Preprocessing(removing_duplicates_reviews).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import re
import nltk
#nltk.download('all')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [ ]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

#1)	Read the reviews in review file and remove all duplicate reviews.

In [ ]:
review_df = pd.read_csv('/content/review_text.csv',names = ['messages'],header=0)
review_df

                                             messages
0   First few days was a tad tight but now that th...
1   The soles are not hard but not too flexible ei...
2   Usually wear a 9.5 but after trying them on at...
3                   I had the Kinvara 4 running shoes
4   Width wise the seem average to maybe slightly ...
..                                                ...
94                        These are very nice shoes .
95                                   Quality is great
96                            I like the shoe a lot .
97  I bought the yellow colored from Amazon ( as m...
98  Once I wore the shoes for a few days the shipp...

[99 rows x 1 columns]

In [ ]:
len(review_df['messages'][1])

52

In [ ]:
cleaned_corpus = []

In [ ]:
ps = PorterStemmer()

In [ ]:
lm = WordNetLemmatizer()

In [ ]:
for i in range(0,len(review_df)):
  review = re.sub('[^A-Za-z]',' ',review_df['messages'][i])
  review = review.lower()
  review = review.split()
  review = [lm.lemmatize(word) for word in review if word not in stopwords.words('english')]
  review = ' '.join(review)
  cleaned_corpus.append(review)

In [ ]:
cleaned_corpus

['first day tad tight broken fit like glove',
 'sol hard flexible either',
 'usually wear trying store first went',
 'kinvara running shoe',
 'width wise seem average maybe slightly narrow much',
 'use one go gym use run',
 'n come second set lace',
 'went half size bigger normal',
 'let see perform',
 'item received per described',
 'firstthe lace made stretchy',
 'shoe expect get perfect finishing',
 'walk mile per day indoors carpet job',
 'wear day everyday always foot',
 'climbed angel landing shoe',
 'originally bought use travel shoe',
 'color darker last pair',
 'worn training competing full ironman marathon',
 'foot least hour day',
 'husband us thesefor sped walking road',
 'purchase brand',
 'height midsole expected',
 'comfortable fit good look',
 'problem since switching different sock though',
 'good shoe running practice',
 'really wish isolated incident since shoe really life hype',
 'far good read lot negative review seems coming stitching new balance shoe',
 'overallonce found correct nb size',
 'yet wearing new balance decade',
 'shoe cost much le many running shoe available',
 'nice shoe',
 'quality great',
 'like shoe lot',
 'great price',
 'great coupled stretching rehab',
 'looked great fit great wide foot',
 'shoe broke great',
 'light shoe hopefully hold',
 'shoe lace system also good',
 'buying asics year',
 'loving shoe',
 'great shoe love service great',
 'fell kinvara better running shoe',
 'nice running shoe',
 'seem hold far time week gym',
 'actually bought second pair non workout stuff',
 'soft comfortable',
 'like color easily soiled',
 'fit great good price',
 'ran first full marathon complaint',
 'great shoe price',
 'plain comfortable walking shoe',
 'good news returning original shoe totally easy',
 'son wide foot fit say comfortable',
 'fit snug',
 'use long travel light jog far working great',
 'wearing classic year always going back comfort buy comfort',
 'buy',
 'like shoe much',
 'reason shoe great alleviating plantar fasciitis',
 'also find limited middle distance great shoe price keep expensive shoe long run',
 'looked niced felt cery comfortable used squat one time wore',
 'n notice problem',
 'far running shoe gothese pretty good',
 'good training shoe enough support wear every day',
 'nice fitlook good comfortable',
 'surprised order pair shoe online fit feel comfortable without trying',
 'wife bought pair go walk last year really liked',
 'nice pair running sneaker',
 'comfortable run size small',
 'also purchased extra insole walk work mostly cement floor hr',
 'bought yellow colored amazon third color',
 'wore shoe day shipping squished ness went away shoe nice comfy',
 'great fit enjoy wearing',
 'comfortable everyday running',
 'nice shoe price',
 'perfect next k day love color heel great city running',
 'good walking shoe runner',
 'new balance comfortable support well light wear',
 'loved light weight',
 'color darker last pair',
 'worn training competing full ironman marathon',
 'foot least hour day',
 'husband us thesefor sped walking road',
 'purchase brand',
 'height midsole expected',
 'comfortable fit good look',
 'problem since switching different sock though',
 'good shoe running practice',
 'really wish isolated incident since shoe really life hype',
 'far good read lot negative review seems coming stitching new balance shoe',
 'overallonce found correct nb size',
 'yet wearing new balance decade',
 'shoe cost much le many running shoe available',
 'nice shoe',
 'quality great',
 'like shoe lot',
 'bought yellow colored amazon third color',
 'wore shoe day shipping squished ness went away shoe nice comfy']

In [ ]:
len(cleaned_corpus)

99

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv = CountVectorizer()
X = cv.fit_transform(cleaned_corpus).toarray()

In [ ]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
cleaned_corpus[0]

'first day tad tight broken fit like glove'

In [ ]:
X[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
X_df =pd.DataFrame(X)
X_df

,0,1,2,3,4,5,6,7,8,9,...,227,228,229,230,231,232,233,234,235,236
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
98,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
X_df.drop_duplicates()

,0,1,2,3,4,5,6,7,8,9,...,227,228,229,230,231,232,233,234,235,236
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Conclusion - 20 duplicate reviews have been removed